<!DOCTYPE html>
<html xmlms:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Agregar Estudiantes</title>
</head>
<body>
	<form th:action="@{/formEstudiante}" th:object="${estudiante}" method="post">

		<h1>Ingresar Estudiante</h1>
		<div class="form-content">
			<label>Nombre :</label><br>
			<input type="text" th:field="${estudiante.nombre}"><br>
			<span th:errors="${estudiante.nombre}" style="color:  #E81505;"></span><br>
			
			<label>Apellido:</label><br>
			<input type="text" th:field="${estudiante.apellido}"><br>
			<span th:errors="${estudiante.apellido}" style="color:  #E81505;"></span><br>
			
			<label>Carne:</label><br>
			<input type="number" th:field="${estudiante.carne}"><br>
			<span th:errors="${estudiante.carne}" style="color:  #E81505;"></span><br>
			
			<label>Carrera:</label><br>
			<input type="text" th:field="${estudiante.carrera}"><br>
			<span th:errors="${estudiante.carrera}" style="color:  #E81505;"></span><br><br>
		</div>
		<input type="submit" value="Agregar estudiante">
	</form>
	
	<br>
	<button><a href="/listado" style="text-decoration:none; color: #000;">Ver todos los estudiantes</a></button>

</body>
</html></html>